          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar">
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="mdi mdi-menu mdi-24px"></i>
              </a>
            </div>

              <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
              <li class="nav-item me-1 me-xl-0 mx-3">
                <a href="./register" class="btn btn-primary btn-sm">
                  <img width="25" class="mx-2" height="25" src="https://img.icons8.com/ultraviolet/40/add-user-male.png" alt="add-user-male"/> inscription
                </a>
              </li>
              <li class="nav-item me-1 me-xl-0 mx-3">
                <a href="./login" class="btn btn-primary btn-sm">
                  <img width="25" class="mx-2" height="25" src="https://img.icons8.com/external-bearicons-flat-bearicons/64/000000/external-login-call-to-action-bearicons-flat-bearicons-1.png" alt="external-login-call-to-action-bearicons-flat-bearicons-1"/>  connexion
                </a>
              </li>

              <!-- Style Switcher -->
              <li class="nav-item me-1 me-xl-0 mx-3">
                <a
                        class="nav-link btn btn-text-secondary rounded-pill btn-icon style-switcher-toggle hide-arrow"
                        href="javascript:void(0);">
                  <i class="mdi mdi-24px"></i>
                </a>
              </li>
                <!--/ Style Switcher -->






              </ul>
            </div>

            <!-- Search Small Screens -->
            <div class="navbar-search-wrapper search-input-wrapper d-none">
              <input
                type="text"
                class="form-control search-input container-xxl border-0"
                placeholder="Search..."
                aria-label="Search..." />
              <i class="mdi mdi-close search-toggler cursor-pointer"></i>
            </div>
          </nav>

          <!-- / Navbar -->