{% set title = 'client acceuil' %}
{% extends "./layout/layout_nav.html.twig" %}
{% block css %}
    <link rel="stylesheet" href="./assets/vendor/css/pages/ui-carousel.css"/>
    <link rel="stylesheet" href="./assets/vendor/libs/swiper/swiper.css"/>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <!-- Flipster CSS -->
    <link rel="stylesheet" href="dist/jquery.flipster.min.css">

    <!-- Flipster Js -->
    <script src="dist/jquery.flipster.min.js"></script>
{% endblock %}
{% block contenu %}
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y mt-5">
            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Modification du mot de passe </h4>

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3 gap-2 gap-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" href="./moncompte"
                        ><i class="mdi mdi-account-outline mdi-20px me-1"></i> Mon compte</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"
                        ><i class="mdi mdi-lock-open-outline mdi-20px me-1"></i> Mot de passe</a
                      >
                    </li>
                 
                  </ul>
                  <!-- Change Password -->
                  <div class="card mb-4">
                    <h5 class="card-header">Modifier le mot de passe </h5>
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST" onsubmit="return false">
                        <div class="row">
                          <div class="mb-3 col-md-6 form-password-toggle">
                            <div class="input-group input-group-merge">
                              <div class="form-floating form-floating-outline">
                                <input
                                  class="form-control"
                                  type="password"
                                  name="currentPassword"
                                  id="currentPassword"
                                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                <label for="currentPassword">Mots de passe actuel</label>
                              </div>
                              <span class="input-group-text cursor-pointer"
                                ><i class="mdi mdi-eye-off-outline"></i
                              ></span>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="mb-4 col-md-6 form-password-toggle">
                            <div class="input-group input-group-merge">
                              <div class="form-floating form-floating-outline">
                                <input
                                  class="form-control"
                                  type="password"
                                  id="newPassword"
                                  name="newPassword"
                                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                <label for="newPassword">Nouveau mot de passe </label>
                              </div>
                              <span class="input-group-text cursor-pointer"
                                ><i class="mdi mdi-eye-off-outline"></i
                              ></span>
                            </div>
                          </div>
                          <div class="mb-4 col-md-6 form-password-toggle">
                            <div class="input-group input-group-merge">
                              <div class="form-floating form-floating-outline">
                                <input
                                  class="form-control"
                                  type="password"
                                  name="confirmPassword"
                                  id="confirmPassword"
                                  placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                <label for="confirmPassword">Confirmer le  Nouveau mot de passe</label>
                              </div>
                              <span class="input-group-text cursor-pointer"
                                ><i class="mdi mdi-eye-off-outline"></i
                              ></span>
                            </div>
                          </div>
                        </div>
                        <h6 class="text-body">Password Requirements:</h6>
                        <ul class="ps-3 mb-0">
                          <li class="mb-1">Minimum 8 characters long - the more, the better</li>
                          <li class="mb-1">At least one lowercase character</li>
                          <li>At least one number, symbol, or whitespace character</li>
                        </ul>
                        <div class="mt-4">
                          <button type="submit" class="btn btn-primary me-2">Enregistrer les changements </button>
                          <button type="reset" class="btn btn-outline-secondary">Supprimer</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <!--/ Change Password -->

                

                  <!-- /Modal -->

                  <!--/ Two-steps verification -->

         
                </div>
              </div>
            </div>
    </div>
    <!-- / Content -->




{% endblock %}

    {% block js %}


        <script src="./assets/vendor/assets/js/form-basic-inputs.js"></script>
        <script src="./assets/vendor/assets/js/extended-ui-timeline.js"></script>
        <script src="./assets/vendor/libs/swiper/swiper.js"></script>
<script>
// Sélectionnez tous les éléments ayant la classe "example"
setTimeout(function() {
  $(".template-customizer-open-btn").hide();
}, 000001);
</script>
    {% endblock %}
